In [1]:
# practice 1
def printme(str):
    print(str);
    return;
printme("Im first call to user defined function!")
printme("Again second call to the same function")

Im first call to user defined function!
Again second call to the same function

In [2]:
# practice 2
def changeme (mylist):
    mylist.append([1,2,3,4])
    print("Values inside the function: ",mylist)
    return
mylist = [10,20,30]
changeme(mylist)
print("Values outside the function: ",mylist)

Values inside the function:  [10, 20, 30, [1, 2, 3, 4]]
Values outside the function:  [10, 20, 30, [1, 2, 3, 4]]

In [7]:
# practice 3
def changme(mylist):
    mylist = [1,2,3,4];
    print("Values inisde the function: ",mylist)
    return
mylist = [10,20,30];
changme(mylist);
print("Values outsude the function: ", mylist)

Values inisde the function:  [1, 2, 3, 4]
Values outsude the function:  [10, 20, 30]

In [10]:
# practice 4
def printme(str):
    print(str);
    return;
printme(str);

<class 'str'>

In [11]:
# practice 5
def printme(str):
    print(str);
    return;
printme(str = "My string")

My string

In [14]:
# practice 6
def printinfo(name,age):
    print("Name:",name);
    print("Age", age);
    return;
printinfo(age=50,name="miki");

Name: miki
Age 50

In [16]:
# practice 7
def printinfo(name, age = 35):
    print("Name: ",name);
    print("Age: ",age);
    return;
printinfo(age = 50, name="Miki");
printinfo(name ="Miki");

Name:  Miki
Age:  50
Name:  Miki
Age:  35

In [21]:
# practice 8
def printinfo(arg1, *vartuple):
    print("Outpus is: ")
    print(arg1)
    for var in vartuple:
        print(var)
        return;
printinfo( 10 );
printinfo(70,60,50);

Outpus is:
10
Outpus is:
70
60

In [22]:
# practice 9
total = 50;
def sum(arg1,arg2):
    total = arg1 + arg2;
    print("Inside the function local total :  ",total)
    return total;
sum(10,20);
print("Outside the function global total : ",total)

Inside the function local total :   30
Outside the function global total :  50

In [23]:
# practice 10
def swap(x,y):
    global a
    a = "Lawal"
    x,y = y,x

    b = "Chris"
    b = "Edward"
    c= "Lola"
    print(a,b,x,y)
    a = "Mary"
swap("Tina","Tolu")
print(a)

Lawal Edward Tolu Tina
Mary